[core]
	editor = vim
	autocrlf = true
	safecrlf = warn
[user]
	name = EKY
	email = eky@topdanmark.dk
[help]
	autocorrect = 1
	
[alias]	
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	co = checkout
	ci = commit
	st = status
	br = branch
	lga = log --graph --oneline --all --decorate

[push]
	default = simple
	
[http]
     sslCAInfo = C:/Program Files/Git/mingw64/ssl/certs/ca-bundle-cjt.crt
     proxy = http://virproxy.topdanmark.local:8080/
 [https]
     proxy = http://virproxy.topdanmark.local:8080/
 [http "http://git02ba1.topdanmark.local/"]
     proxy =
 [http "https://github.topdanmark.local/"]
     proxy =
[gui]
	recentrepo = D:/dev/ubahn/git/tilbudsflow
[credential]
	helper = store
